<mat-dialog-content>
    <div class='matrix'
         *ngFor='let matrix of matrices'>
        <h1 class='matrix__name'>{{matrix.name}}</h1>
        <h1>=</h1>
        <table class='matrix__entries'>
            <tbody>
                <tr *ngFor='let row of matrix.entries'>
                    <ng-container *ngIf='row.length > 0;else vector'>
                        <td *ngFor='let entry of row'>{{entry}}</td>
                    </ng-container>
                    <ng-template #vector>
                        <td>{{row}}</td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div class='angle'>
        <strong>A&lt;q, r&gt; = </strong>{{angle}}
    </div>
    <div class='strength'>
        <strong>S(q, r) = </strong>{{strength}}
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button
            color='primary'
            mat-dialog-close>
        Close
    </button>
</mat-dialog-actions>