.text-editor__input {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #fff;
    position: relative;
    white-space: pre-wrap;

    div {
        background-color: #fff;
        border: 1px solid #000;
        position: absolute;
    }
}

div {
    outline: none;
}