.cell {
    stroke: #000;
    fill: #fff;
}

.cell[data-off=true] {
    opacity: 0.1;
}

.cell__text {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    text-align: center;
}

.cell__weight {
    display: inline-block;
    padding: 0 5px;
    background-color: #555;
    color: #fff;
    font-size: 0.5em;
    position: relative;
    top: -5px;
    left: 2px;
}