.cell {
    stroke: #000;
    fill: #fff;
    cursor: pointer;
    stroke-width: 2px;
    user-select: none;

    foreignObject {
        pointer-events: none;
    }
}

.cell[data-selected] {
    stroke-dasharray: 4;
}

.cell[data-highlighted],
.cell[data-highlighted] {
    opacity: 1 !important;
    stroke-opacity: 1;
}

.cell[data-off=true] {
    opacity: 0.1;
}

.cell__text {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    text-align: center;
    padding: 0 3px;
}

.cell__weight {
    display: inline-block;
    padding: 0 5px;
    background-color: #555;
    color: #fff;
    font-size: 0.5em;
    position: fixed;
    top: 2px;
    left: 2px;
}