:host {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 5vw;
    padding: 20px 0;
}

button {
    margin-bottom: 10px;
}

.edit-matrix mat-icon {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1em;
    font-weight: bold;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}