<mapper-command [icon]='showAssociationsSelected ? "visibility_off" : "visibility"'
                [tooltip]='showAssociationsSelected ? "Hide associations for selected components" : "Show associations for selected components"'
                (toggled)='toggleShowAssociations($event)'>
</mapper-command>
<mapper-command [icon]='cellGroupingSelected ? "layers" : "layers_clear"'
                [tooltip]='cellGroupingSelected ? "Group selected cells" : "Ungroup selected cells"'
                (toggled)='toggleCellGrouping($event)'>
</mapper-command>
<mapper-command icon='grid_on'
                tooltip='Show matrices'
                (toggled)='showMatrices()'>
</mapper-command>
<mapper-command [icon]='turnOffCellSelected ? "not_interested" : "check"'
                [tooltip]='turnOffCellSelected ? "Turn off selected cells" : "Turn on selected cells"'
                (toggled)='turnCellOnOrOff($event)'>
</mapper-command>
<mapper-command icon='arrow_downward'
                tooltip='Export graph as PNG'
                (toggled)='exportGraphAsPng()'>
</mapper-command>