<button mat-mini-fab
        color='basic'
        [tooltip]='showAssociationsSelected ? "Hide associations for selected components" : "Show associations for selected components"'
        position='right'
        (click)='toggleShowAssociations()'>
    <mat-icon>
        {{showAssociationsSelected ? "visibility_off" : "visibility"}}
    </mat-icon>
</button>

<button mat-mini-fab
        color='basic'
        [tooltip]='cellGroupingSelected ? "Group selected cells" : "Ungroup selected cells"'
        position='right'
        (click)='toggleCellGrouping()'>
    <mat-icon>
        {{cellGroupingSelected ? "layers" : "layers_clear"}}
    </mat-icon>
</button>

<button mat-mini-fab
        color='basic'
        tooltip='Show matrices'
        position='right'
        (click)='showMatrices()'>
    <mat-icon>grid_on</mat-icon>
</button>

<button mat-mini-fab
        color='basic'
        [tooltip]='turnOffCellSelected ? "Turn off selected cells" : "Turn on selected cells"'
        position='right'
        (click)='turnCellOnOrOff()'>
    <mat-icon>
        {{turnOffCellSelected ? "not_interested" : "check"}}
    </mat-icon>
</button>

<button mat-mini-fab
        class='edit-matrix'
        color='basic'
        tooltip='Edit Dp matrix'
        position='right'
        (click)='editDpDetractorMatrix()'>
    <mat-icon>Dp</mat-icon>
</button>

<button mat-mini-fab
        class='edit-matrix'
        color='basic'
        tooltip='Edit Dq matrix'
        position='right'
        (click)='editDqDetractorMatrix()'>
    <mat-icon>Dq</mat-icon>
</button>

<button mat-mini-fab
        color='basic'
        tooltip='Select another graph model to compare against'
        position='right'
        (click)='compareGraphModels()'>
    <mat-icon>compare</mat-icon>
</button>

<button mat-mini-fab
        color='basic'
        tooltip='Import graph model'
        position='right'
        (click)='importGraphModel()'>
    <mat-icon>arrow_upward</mat-icon>
</button>

<button mat-mini-fab
        color='basic'
        tooltip='Export graph as PNG'
        position='right'
        (click)='exportGraphAsPng()'>
    <mat-icon>image</mat-icon>
</button>

<button mat-mini-fab
        color='basic'
        tooltip='Save graph model'
        position='right'
        (click)='saveGraphModel()'>
    <mat-icon>save</mat-icon>
</button>

<button mat-mini-fab
        style='margin-top:auto;transform:scale(0.8,0.8) translateY(30px)'
        color='basic'
        tooltip='{{help}}'
        position='right'>
    <mat-icon>help</mat-icon>
</button>