<svg highlighter
     [selectedLink]='selectedLink'
     [showAssociations]='showAssociations'
     [selectedCells]='selectedCells'
     [linkTable]='linkTable'>
    <g class='headers'>
        <g column-header
           width='{{columnWidth}}'
           height='{{headerHeight}}'
           label='Architectural Elements'
           labelColor='magenta'
           prefix='element'
           (addCellButtonClicked)='onCellAdded($event)'>
        </g>
        <g column-header
           width='{{columnWidth}}'
           height='{{headerHeight}}'
           left='{{spacingBetweenColumns + columnWidth}}'
           label='System Properties'
           labelColor='orange'
           prefix='property'
           (addCellButtonClicked)='onCellAdded($event)'>
        </g>
        <g column-header
           width='{{columnWidth}}'
           height='{{headerHeight}}'
           left='{{(spacingBetweenColumns + columnWidth) * 2}}'
           label='System Qualities'
           labelColor='blue'
           prefix='quality'
           (addCellButtonClicked)='onCellAdded($event)'>
        </g>
    </g>
    <g class='canvas'
       [attr.transform]='"translate(0," + headerHeight + ")"'>
        <g column
           [width]='columnWidth'
           [height]='columnHeight'
           [cellGroups]='cellGroups.element'
           (cellClicked)='onElementCellClicked($event)'>
        </g>
        <g column
           [width]='columnWidth'
           [height]='columnHeight'
           [left]='spacingBetweenColumns + columnWidth'
           [cellGroups]='cellGroups.property'
           (cellClicked)='onPropertyCellClicked($event)'>
        </g>
        <g column
           [width]='columnWidth'
           [height]='columnHeight'
           [left]='(spacingBetweenColumns + columnWidth) * 2'
           [cellGroups]='cellGroups.quality'
           (cellClicked)='onQualityCellClicked($event)'>
        </g>
        <g links
           [linkTable]='linkTable'
           [columns]='columns'
           (linkSelected)='onLinkSelected($event)'>
        </g>
    </g>
</svg>