<svg highlighter
     [selectedLink]='selectedLink'
     [showAssociations]='showAssociations'
     [selectedCells]='selectedCells'
     [linkTable]='linkTable'>
    <g column
       [width]='columnWidth'
       [height]='columnHeight'
       [cellGroups]='cellGroups.element'
       header='Architectural Elements'
       headerTitleColor='magenta'
       prefix='element'
       (cellAdded)='onCellAdded($event)'
       (cellClicked)='onElementCellClicked($event)'></g>
    <g column
       [width]='columnWidth'
       [height]='columnHeight'
       [left]='spacingBetweenColumns + columnWidth'
       [cellGroups]='cellGroups.property'
       header='System Properties'
       headerTitleColor='orange'
       prefix='property'
       (cellAdded)='onCellAdded($event)'
       (cellClicked)='onPropertyCellClicked($event)'></g>
    <g column
       [width]='columnWidth'
       [height]='columnHeight'
       [left]='(spacingBetweenColumns + columnWidth) * 2'
       [cellGroups]='cellGroups.quality'
       header='System Qualities'
       headerTitleColor='blue'
       prefix='quality'
       (cellAdded)='onCellAdded($event)'
       (cellClicked)='onQualityCellClicked($event)'></g>
    <g links
       [linkTable]='linkTable'
       [columns]='columns'
       (linkSelected)='onLinkSelected($event)'></g>
</svg>