<svg #canvas
     highlighter
     [selectedCell]='selectedCell'
     [selectedLink]='selectedLink'
     [showAssociations]='showAssociations'
     [linkTable]='linkTable'>
    <g column
       [cells]='columns.element'
       [width]='columnWidth'
       [height]='columnHeight'
       header='Architectural Elements'
       headerTitleColor='magenta'
       prefix='element'
       [cellDeleted]='elementCellDeleted'
       (cellAdded)='onCellAdded($event)'
       (cellClicked)='onElementCellClicked($event)'
       (showAssociationsToggled)='toggleAssociationsForSelectedComponent($event)'
       (layoutChanged)='onColumnLayoutChanged($event, "element")'></g>
    <g column
       [cells]='columns.property'
       [width]='columnWidth'
       [height]='columnHeight'
       [left]='spacingBetweenColumns + columnWidth'
       header='System Properties'
       headerTitleColor='orange'
       prefix='property'
       [cellDeleted]='propertyCellDeleted'
       (cellAdded)='onCellAdded($event)'
       (cellClicked)='onPropertyCellClicked($event)'
       (showAssociationsToggled)='toggleAssociationsForSelectedComponent($event)'
       (layoutChanged)='onColumnLayoutChanged($event, "property")'></g>
    <g column
       [cells]='columns.quality'
       [width]='columnWidth'
       [height]='columnHeight'
       [left]='(spacingBetweenColumns + columnWidth) * 2'
       header='System Qualities'
       headerTitleColor='blue'
       prefix='quality'
       [cellDeleted]='qualityCellDeleted'
       (cellAdded)='onCellAdded($event)'
       (cellClicked)='onQualityCellClicked($event)'
       (showAssociationsToggled)='toggleAssociationsForSelectedComponent($event)'
       (layoutChanged)='onColumnLayoutChanged($event, "quality")'></g>
    <g links
       [linkTable]='linkTable'
       [columns]='columns'
       (linkSelected)='onLinkSelected($event)'></g>
</svg>