mapper-canvas {
    display: block;
    width: 95vw;
    height: 99vh;
    overflow: hidden auto !important;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
}

svg.highlighting g.column {
    stroke-opacity: 0.01;
}

svg.highlighting g.links {
    stroke-opacity: 0.02;
}

svg.highlighting g.column g foreignObject {
    opacity: 0.02;
}

svg.highlighting g {
    pointer-events: none !important;
}