:host,
svg {
    display: block;
    width: 100vw;
    height: 100vh;
}

svg.highlighting g.column {
    stroke-opacity: 0.01;
    pointer-events: none;
}

svg.highlighting g.links {
    stroke-opacity: 0.02;
    pointer-events: none;
}

svg.highlighting g.column g foreignObject {
    opacity: 0.02;
    pointer-events: none;
}