:host {
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
}

.graph-model-details {
    display: flex;
    height: 100%;
}

.graph-model-details.row-display {
    height: 5vh;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    .graph-model-detail__name::after {
        content: ': ';
        font-weight: bold;
    }
}

.graph-model-details.column-display {
    display: flex;
    flex-flow: column nowrap;
    min-width: 300px;
    .graph-model-detail {
        padding: 10px;
        display: flex;
    }
    .graph-model-detail__value {
        margin-left: auto;
    }
}

.graph-model-detail__name {
    font-weight: bold;
}