:host {
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
}

.graph-model-details {
    display: flex;
    height: 100%;
}

.graph-model-details.row-display {
    height: 30px;
    flex-flow: row nowrap;
    align-items: center;
    overflow-x: auto;
    font-size: 0.9em;
    padding: 0 5px;
    .graph-model-detail {
        white-space: nowrap;
    }
    .graph-model-detail:not(:last-of-type) {
        margin-right: 20px;
    }
    .graph-model-detail__name::after {
        content: ': ';
        font-weight: bold;
    }
}

.graph-model-details.column-display {
    display: flex;
    flex-flow: column nowrap;
    min-width: 300px;
    .graph-model-detail {
        padding: 10px;
        display: flex;
    }
    .graph-model-detail__value {
        margin-left: auto;
    }
}

.graph-model-detail__name {
    font-weight: bold;
}