<div class='matrix-editor'
     mat-dialog-content>
    <h1 class='matrix-editor__name'>{{matrixName}}</h1>
    <h1>=</h1>
    <table class='matrix-editor__entries'>
        <tbody>
            <tr *ngFor='let row of entries;let rowIndex=index'>
                <td *ngFor='let entry of row;let columnIndex=index'>
                    <input (change)='updateEntry(rowIndex, columnIndex, $event.target)'
                           [disabled]='entry === -1'
                           [value]='entry === -1 ? 0 : entry' />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div mat-dialog-actions>
    <button mat-button
            [mat-dialog-close]='input.matrix'>
        Cancel
    </button>
    <button mat-raised-button
            color='primary'
            [mat-dialog-close]='newMatrix'>
        Save
    </button>
</div>