.matrix-editor {
    display: flex;
    align-items: center;
    max-height: 98vh;
}

h1 {
    margin-right: 0.5em;
}

.matrix-editor__name {
    width: 1em;
    text-align: right;
}

.matrix-editor__entries {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    min-width: 5em;
    text-align: center;
    position: relative;
    border-collapse: separate;
    border-spacing: 3px;
    padding: 0 5px;

    &::before,
    &::after,
    tbody::before,
    tbody::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        background: #000;
        left: 0;
        top: 0;
    }

    &::after {
        top: calc(100% - 2px);
    }

    td {
        padding: 0 0.5em;
        outline: none;
    }

    input {
        width: 30px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 5px;
    }

    input[disabled] {
        background-color: #d3d3d3;
        opacity: 0.5;
    }

    tbody::before {
        left: calc(100% - 10px);
        top: 0;
    }

    tbody::after {
        left: calc(100% - 10px);
        top: calc(100% - 2px);
    }
}