g.column {
    rect {
        cursor: pointer;
        user-select: none;
    }
    g[data-selected] rect {
        stroke-dasharray: 4;
    }
    g[data-highlighted],
    g[data-highlighted] foreignObject {
        opacity: 1 !important;
        stroke-opacity: 1;
    }
    foreignObject {
        pointer-events: none;
        user-select: none;
    }
}