:host {
    max-height: 90vh;
    display: block;
}

.attribute__name input[readonly=true] {
    color: #bbb;
    cursor: not-allowed;
}

.attribute__value {
    margin-left: 10px;
}

.attribute__delete {
    left: 10px;
    transform: scale(0.7, 0.7);
}