<svg:foreignObject [attr.width]='width'
                   [attr.height]='height'
                   [attr.x]='left'
                   y='0'
                   class='column-header'>
    <xhtml:header>
        <span class='column-header__title'
              [style.color]='labelColor'>
            {{label}}
        </span>
        <div>
            <button class='column-header__add-cell'
                    tooltip='Add a new cell'
                    (click)='onAddCellButtonClicked()'>
                <i class='material-icons'>add</i>
            </button>
        </div>
    </xhtml:header>
</svg:foreignObject>