.column-header {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    pointer-events: none;
    user-select: none;

    .column-header__title {
        display: inline-block;
        padding: 10px 20px;
        white-space: nowrap;
        user-select: none;
    }

    .column-header__add-cell {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        pointer-events: all;
        z-index: 1;
        width: 30px;
        height: 30px;

        .mat-button-wrapper {
            padding: initial;
            line-height: initial;
        }
    }
}