g.column {
    header {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: relative;
        pointer-events: none;
    }
    .column__title {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.25em;
        user-select: none;
    }
    rect {
        cursor: pointer;
        user-select: none;
    }
    g[data-selected] rect {
        stroke-dasharray: 4;
    }
    g[data-highlighted],
    g[data-highlighted] foreignObject {
        opacity: 1 !important;
        stroke-opacity: 1;
    }
    foreignObject {
        pointer-events: none;
        user-select: none;
    }
}